<div class="sidebar-wrapper">
                <ul class="nav">
                    <li><img src="{{ url_for('static', filename='img/caesar.png') }}" class="img-responsive caesar" width="75px"></li>
                    <li {%- if request.path == "/" %}
                        class="active"
                        {% endif%} >
                        <a href="/">
                            <i class="material-icons">view_module</i>
                            <p>Create problems!</p>
                        </a>
                    </li>
                    <li {%- if request.path == "/solve" %}
                        class="active"
                        {% endif%} >
                        <a href="/solve">
                            <i class="material-icons">extension</i>
                            <p>Solve a puzzle</p>
                        </a>
                    </li>
                    
                    
                </ul>
</div>