{% extends "base.html" %}
{% block body %}

 <style type="text/css">
        input[type=text]{
            border: 3px solid #555;
            margin-bottom: 5px;
            text-align: center;
            padding: 5px;
            font-weight: bold;
        }

        input[type=text].cipher{
            border: 3px solid #fff;
            margin-bottom: 5px;
            text-align: center;
            padding: 5px;
        }
     
     span{
        display: inline-block
     }

    </style>


 <div class="col-md-12">
        <div class="card">
            <div class="card-header" data-background-color="red">
                <h4 class="title">Decrypt the quote!</h4>
                <p class="category"></p>
            </div>
            <div class="card-content">
                <div class="well">
                    {% for word in text.ciphertext %}
                        <span>{% for letter in word %}
                                <input type="text" size="1"  class="cipher"  type="number" value="{{ letter }}" disabled>
                        {% endfor %}
                        </span>
                        &nbsp&nbsp&nbsp
                    {% endfor %}
                    <br><br>
                    {% for word in text.cleartext %}
                        <span>{% for letter in word %}
                            <input type="text" size="1" class="{{letter | lower }} " id="test" type="number" value="" required>
                        {% endfor %}
                        </span>
                        &nbsp&nbsp&nbsp        
                    {% endfor %}
                 
            </div>
            </div>
     </div>
</div>


    <div class="row">
        
        <div class="col-md-6">
            <div class="card card-chart">
                <canvas id="normalchart"></canvas>
            </div>
        </div>


        <div class="col-md-6">
            <div class="card card-chart">
                <canvas id="cipherchart"></canvas>
            </div>
        </div>

    </div>

<div class="row">
    <div class="col-md-6">
        <a href="javascript:window.location.reload(true)" type="submit" class="btn btn-primary btn-lg btn-block">Try another like this!</a>
    </div>
    <div class="col-md-6">
        <a href="/solve" class="btn btn-info btn-lg btn-block">Switch it up</a>
    </div>
</div>

   
    <script type="text/javascript">
        {% for letter in alphabet %}
            $('.{{letter}}').bind('keypress keyup blur', function() {
                $('.{{letter}}').val($(this).val());
            });
        {% endfor %}
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script type="text/javascript">
        
        var normalchart = document.getElementById('normalchart').getContext('2d');
    
        var chart = new Chart(normalchart, {
            // The type of chart we want to create
            type: 'bar',

            // The data for our dataset
            data: {
                labels: ['e', 't', 'a', 'o', 'i', 'n', 's', 'h', 'r', 'd', 'l', 'c', 'u', 'm', 'w', 'f', 'g', 'y', 'p', 'b', 'v', 'k', 'j', 'x', 'q', 'z'],
                datasets: [{
                    label: "Letter Frequencies in English",
                    backgroundColor: 'rgb(154, 48, 174)',
                    borderColor: 'rgb(255, 255, 255)',
                    data: [0.12702, 0.09056, 0.08167, 0.07507, 0.06966, 0.06749, 0.06327, 0.06094, 0.05987, 0.04253, 0.04025, 0.02782, 0.02758, 0.02406, 0.0236, 0.02228, 0.02015, 0.01974, 0.01929, 0.01492, 0.00978, 0.00772, 0.00153, 0.0015, 0.00095, 0.00074]
                }]

            },

            /*{
                    label: "Letter Frequencies in ciphertext",
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    data: {{ cipher_text_freq }},
                }*/
            // Configuration options go here
            options: {}
        });

        var cipherchart = document.getElementById('cipherchart').getContext('2d');
        var chart = new Chart(cipherchart, {
            // The type of chart we want to create
            type: 'bar',

            // The data for our dataset
            data: {
                labels: JSON.parse({{ cipher_text_keys | tojson }})
,
                datasets: [{
                    label: "Letter Frequencies in ciphertext",
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 255, 255)',
                    data: {{ cipher_text_freq}}
                }]

            },

       
            // Configuration options go here
            options: {}
        });


    



        
    </script>


    

{% endblock %}

