{% extends "base.html" %}
{% block body %}


    <div class="row">
        <div class="col-12">
            <!-- Recent Order Table -->
            <div class="card card-table-border-none" id="recent-orders">
                <div class="card-header justify-content-between">
                    <h2>Check Your answer</h2>
                    <p>You will see a check mark if your answer is correct</p>
                </div>
                <div class="card-body pt-0 pb-5">
                    <form action="{{ url_for('processinput') }}" method="POST">
                        
                        <div class="form-group">
                            <label>Cipher text</label><br>
                            {{problem }}
                        </div>
                        <div class="form-group">
                            <label>Enter your guess</label>
                            <textarea id="answer" class="form-control"  rows="3"></textarea>
                        </div>    
                    </form>
                </div>
                <div class="check_mark">
                      <div class="sa-icon sa-success animate">
                        <span class="sa-line sa-tip animateSuccessTip"></span>
                        <span class="sa-line sa-long animateSuccessLong"></span>
                        <div class="sa-placeholder"></div>
                        <div class="sa-fix"></div>
                      </div>
                    </div>
            </div>
        </div>
    </div>

    <script>
        $('.check_mark').hide()
        console.log("{{answer | safe}}")
        answer = '{{answer}}'.replace(/[^a-zA-Z]+/g, '').toLowerCase()
        //console.log(answer)
        $('#answer').keyup(function(){
            console.log("getting started...")
            $('.check_mark').show()
            guess = $('#answer').val().replace(/[^a-zA-Z]+/g, '').toLowerCase()
            //console.log(guess)
            if (guess == answer){
               console.log("sucess!")
               $(".sa-success").addClass("hide");
                setTimeout(function() {
                $(".sa-success").removeClass("hide");
              }, 10);
            } else {
                $('.check_mark').hide()
            }
        });
         
    </script>
{% endblock %}