

{% extends "base.html" %}
{% block body %}

    <div class="row">
        <div class="col-12">
            <!-- Recent Order Table -->
            <div class="card card-table-border-none" id="recent-orders">
                <div class="card-header justify-content-between">
                    <h2>Guess the answer <br>
                    <small>Choose a problem and check the answer</small>
                    </h2>
                </div>
                <div class="card-body pt-0 pb-5">
                    <form action="{{ url_for('guess') }}" method="GET">

                    <div class="form-group">
                        <label>Classification</label>
                        <select class="form-control" name="challenge_type" required>
                          <option value="rot">Rot Cipher</option>
                          <option value="sub">Random Substitution</option>
                        </select>
                    </div>    

                    <div class="form-group">
                        <label>Difficulty</label>
                        <select class="form-control" name="level" required>
                          <option value="easy">Easy</option>
                          <option value="medium">Medium</option>
                          <option value="hard">Hard</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Number</label>
                        <input type="number" name="id" value="1" class="form-control">
                    </div> 
                    


                    <div class="form-group">
                        <input type="submit" value="Create Problems" class="btn btn-primary btn-lg btn-block">
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>


{% endblock %}