{% extends "base.html" %}
{% block body %}
    <div class="col-md-8 col-md-offset-2">
        <div class="card">
            <div class="card-header" data-background-color="green">
                <h4 class="title">Create a Challenge</h4>
                <p class="category">Fill out this form to generate a text file with encryption challenges.</p>
            </div>
            <div class="card-content">
                <form action="{{ url_for('processinput') }}" method="POST">

                    <div class="form-group">
                        <label>Classification</label>
                        <select class="form-control" name="challenge_type" required>
                          <option value="1">Rot Cipher</option>
                          <option value="2">Random Substitution</option>
                        </select>
                    </div>    

                    <div class="form-group">
                        <label>Difficulty</label>
                        <select class="form-control" name="difficulty" required>
                          <option value="easy">Easy</option>
                          <option value="med">Medium</option>
                          <option value="hard">Hard</option>
                        </select>
                    </div>     

                    <div class="form-group">
                        <label>Number of problems</label>
                        <input type="text" name="number_of_problems" class="form-control" type="number" value="5" required>
                    </div>    

                    <div class="form-group">
                        <input type="submit" value="Create Problems" class="btn btn-primary btn-lg btn-block">
                    </div>
                </form>
            </div>
        </div>

    </div>
{% endblock %}